body{
	background-image: url(../img/wp1923013.jpg); /* imagen de fondo*/
	background-size: 100%;                      /* tamano de la iamgen de fondo*/
	background-attachment: fixed;			/* tamano de la iamgen de fondo*/
	color: white;
	box-sizing: border-box;
}
#Logo{
	position: relative;
	top: 50%;
	left: 40%;
	width: 20%;
}
#buscador {
	position: relative;
	height: 25px;
	width: 150px;
	margin: auto;
	left: 180%;
	font-size: 15px;
	border: solid;
	bottom: 75px;
	border-radius: 5px;
	background: rgba(252, 250, 250, 0.116);
	color: rgb(255, 255, 255);
}
#buscador:hover{
	border-color:rgb(0, 0, 0);
}
#log{
	position: relative;
	height: 25px;
	width: 150px;
	margin: auto;
	left: -180%;
	font-size: 23px;
	border: solid;
	bottom: 75px;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px;
	background: rgba(252, 250, 250, 0.116);
	border-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
}
/*#reg{
	background: rgba(252, 250, 250, 0.116);
	color: rgb(255, 255, 255);
	border-radius: 5px;
	float: left;
	font-size: 23px;
	border: solid;
	position: relative;
	border-color: rgb(211, 17, 17);
	text-decoration: none;
	padding: 5px;
	margin-top: -25%;
	margin-left: -133%;
}*/
#log:hover{
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
/*#reg:hover{
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}*/
/*Edicion botones de logeo y registro*/
#Menu{
	margin: 0px;
	padding: 0px;
}
header {
	margin-top:-10px;
    width: 100%;
    overflow: hidden;
    height: 250px;
	position: relative;
}
nav {
	top:-20px;
	position: absolute;
    left:0;
    right:0;
	margin:20px auto;
	max-width:100%;
	width:100%;
}
nav ul{
	list-style:none;
}
nav > ul {
	display:table;
	width:100%;
	background:#000;
	position:relative;
}
nav > ul li{
	display: table-cell;
}

/*Sub-menu*/
nav > ul > li:hover > ul {
	display:block;
	height:100%;
} 

nav > ul > li > ul {
	display:block;
	position:absolute;
	background:#000;
	left:0;
	right:0;
	overflow:hidden;
	height:0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul li a {
	color:#fff;
	display:block;
	line-height:20px;
	padding:20px;
	position: relative;
	text-align:center;
	text-decoration:none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > ul > li a:hover {
	background: rgba(252, 250, 250, 0.356);
}
 
nav > ul > li > a span {
	background:#174459;
	display:block;
	height:100%;
	width:100%;
	left:0;
	position:absolute;
	top:-55px;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
 
nav > ul > li > a span .icon {
	display:block;
	line-height:60px;
}
 
nav > ul > li > a:hover > span {
	top:0;
}

/*Colores Menu*/
 nav ul li a .colorInicio {
	 background: rgb(211, 17, 17);
 }
 nav ul li a .colorUsers{
	background: rgb(211, 17, 17);
}
nav ul li a .colorProducto{
	background: rgb(211, 17, 17);
}
nav ul li a .colorMulti{
	background: rgb(211, 17, 17);
}
nav ul li a .colorContacto{
	background: rgb(211, 17, 17);
}
/*Pie de pagina*/
footer {
	color: white;
	position: relative;
	width: 32%;
	left: 35%;
	font-size: 15px;
	margin-top: 0%;
}

img {
	border: 0;
	display: block;
	margin: auto;
	width: 100%;
  }
/*#intel{
	width: 350px;
	height: auto;
	background: transparent;
	position: relative;
	left: 37%;
	margin-top: 0%;
}
#inteltxt{
	color: rgb(255, 255, 255);
	position: relative;
	margin-top: -2%;
	font-size: 150%;
	left: 25%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main > article > p{
	color: rgb(255, 255, 255);
	text-align: center;
	position: relative;
	margin-top: -28%;
	font-size: 320%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nvidia{
	width: 150px;
	height: auto;
	background: transparent;
	position: relative;
	left: -38%;
	margin-top: -13%;
}
#nvidiatxt{
	color: rgb(255, 255, 255);
	position: relative;
	margin-top: 2%;
	font-size: 150%;
	left: -28%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/
#Explorar{
	position: relative;
	height: 45px;
	width: 180px;
	margin: auto;
	left: 46%;
	font-size: 20px;
	border: solid;
	bottom: 300px;
	text-decoration: none;
	border-radius: 5px;
	padding: 5px;
	background: rgba(252, 250, 250, 0.116);
	border-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
}

#Explorar:hover{
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}